<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MY FIRST CRUD APP IN APP</title>
</head>
<body>
  Search results
  <form action="/search" method="get">
    <input type="text" placeholder="Enter name to search" name="name">
    <button type="submit">Submit</button>
  </form>
  <ul class="quotes">
  <% for(var i=0; i<quotes.length; i++) {%>
    <li class="quote">
      <span><b><%= quotes[i].name %></b></span>
      <span><%= quotes[i].quote %></span>
      <a href="/view_quote/<%= quotes[i]._id%>">View</a>
      <a href="/edit_quote/<%= quotes[i]._id%>">Edit</a>
      <a href="/delete_quote/<%= quotes[i]._id%>">Delete</a>
    </li>
  <% } %>
  </ul>
</body>
</html>